header{
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.return-home{
  width: 20%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 1.8rem;
}
.startBtn{
  display: flex;
  justify-content: space-around;
  width: 20%;
}
#loginBtn, #signupBtn{
  width: 8vw;
  height: 6vh;
  padding: 2% 4%;
  background: none;
  color: white;
  align-content: center;
  border: 2px solid white;
  font-size: 1.1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
}
#loginBtn:hover, #signupBtn:hover{
  background-color: rgba(255, 255, 255, 0.2);
}