.header-container{
  font-family: Arial, Helvetica, sans-serif;
  height: 30vh;
  width: 100vw;
  background-color: #071f6c;
  font-size: 1.3em;
}

.filter-box {
  border: none;
  width: 25vw;
  height: 80vh;
  background-color: none;
  margin-top: 10vh;
  margin-right: 5vh;
  /* overflow: auto; */
}

.filter-category {
  border: none;
  box-shadow: 0 0.1rem 0.2rem rgba(117, 165, 231, 0.397);
  padding: 7%;
  margin-bottom: 10%;
}

.filter-category h3 {
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 1.3rem;
}

.filter-category ul {
  list-style-type: none;
  padding: 0;
}
.filter-category label {
  font-weight: normal;
  font-size: 1.1rem;
  cursor: pointer;
}
.filter-category input[type="checkbox"] {
  margin-right: 8%;
  scale: 1.2;
  cursor: pointer;
}
.filter-category li {
  margin: 5px 0;
  font-size: 1.1rem;
  width: 14vw;
}

#option-name{
  cursor: pointer;
  transition: color 0.2s;
}
#option-name:hover{
  color: #4397eb;
}
/* General Styles */
.hotel-container {
  width: 100%;
  margin: auto;
  padding: 2%;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}
/* Hotel List */
.hotel-list {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

/* Hotel Card */
.hotel-details {
  display: flex;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: 0.2s;
  height: 60%;
  width: 90%;
  margin-top: 10vh;
  padding: 3%;
  font-size: 1.3em;
}

.hotel-details:hover {
  box-shadow:0 0.4rem 0.6rem rgba(55, 130, 235, 0.5);
}

.hotel-details img {
  padding: 1%;
  width: 45%;
  height: 90%;
  border-radius: 15px;
}

.hotel-info {
  padding: 3%;
  flex: 1;
}

.hotel-info h2 {
  color: #003b95;
  font-size: 1.4rem;
  width: 70%;
  margin: 0;
}

.hotel-info p {
  padding: 0;
  font-size: 0.8em;
  color: #555;
}

.hotel-info .price {
  font-size: 0.7em;
  font-weight: bold;
  color: #d32f2f;
}

/* Rating and Badge */
.hotel-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #003580;
  padding: 2% 1%;
  border-radius: 5px;
  color: white;
  width: 20%;
  height: 15%;
}

.hotel-rate .badge {
  background: gold;
  color: black;
  padding: 2% 3%;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 2%;
}

/* Button */
.hotel-details .btn {
  background: #0088ff;
  font-size: 0.9rem;
  height: 7vh;
  width: 10vw;
  padding: 2%;
  border: none;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2%;
  transition: background-color 0.2s;
}

.hotel-details .btn:hover {
  background-color: #0458b8;
}
.result{
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  margin-top: 10vh;
}
.header-detail{
  display: flex;
  justify-content: space-between;
}